@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #f0f0f0;
}

.contenedor {
    margin: 20px;
    opacity: 0; /* Comienza invisible */
    transform: translateX(-100px); /* Posición inicial fuera de la pantalla */
    transition: all 1s cubic-bezier(0.2, 0, 0.3, 1); /* Animación suave */
}

.contenedor.derecha {
    transform: translateX(1000px); /* Movimiento hacia la derecha */
}

.contenedor.izquierda {
    transform: translateX(-1000px); /* Movimiento hacia la izquierda */
}

.contenedor.visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Mover al centro */
}